debian/*.log
debian/openscad
debian/openscadlibraries/
debian/openscad-mcadlib/
debian/openscad-doc/
debian/openscad-cheat/
debian/tmp
debian/*.substvars
debian/files
debian/source/appdoc/
debian/source/cheatsheet/
