#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


# запускаем все остальные deb-helper'ы "по умолчанию"
# (про которые мы как раз ничего не знаем):
%:
	dh $@ 

deb_root = debian
pkg_root = $(deb_root)/openscad
src_root = $(deb_root)/source
f_log = $(deb_root)/files.log
# отказываемся от использования dh_install, который в данном примере больше будет мешать, чем помогать принцип сборки пакетов: 
override_dh_install:

# копируем наши файлики:
	echo "Copying application wrappers..."
	cp -rv $(src_root)/bin/. $(pkg_root)/usr/bin/ > $(f_log)
	echo "Copying application..."
	cp -rv $(src_root)/lib/. $(pkg_root)/usr/lib/ >> $(f_log)
	echo "Copying examples..."
	cp -rv $(src_root)/examples/. $(pkg_root)/usr/share/openscad/examples/ >> $(f_log)
#    # "Copying libraries..."
#	cp -rv $(src_root)/libraries/. $(pkg_root)/usr/share/openscad/libraries/
	echo "Copying support files..."
	cp -rv $(src_root)/share/. $(pkg_root)/usr/share/ >> $(f_log)
    # .desktop     - to /usr/share/application
    # .appdata.xml - to /usr/share/appdata
    # .xml         - to /usr/share/mime/packages
    # .png         - to /usr/share/pixmaks


override_dh_makeshlibs:
# skipped

override_dh_shlibdeps:
# skipped

