#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
#export DH_OPTIONS
export DH_OPTIONS = -v


# запускаем все остальные deb-helper'ы "по умолчанию"
# (про которые мы как раз ничего не знаем):
%:
	dh $@ 

pkg_name = openscad
pkg_ver = 2014.03
pkg_arch = x86-32
pkg_ext = tar.gz

deb_ = debian
pkg_root = $(deb_)/openscad
src_org = $(deb_)/source
bin_org = $(deb_)/tmp/$(pkg_name)
f_log = $(bin_org)/files.log


override_dh_auto_install:
# Expand package tarball into debian/tmp dir.
	@echo 'Expand install package...'
	mkdir $(deb_)/tmp
	tar xzvf ../$(pkg_name)-$(pkg_ver).$(pkg_arch).$(pkg_ext) -C $(deb_)/tmp
	mv $(bin_org)-$(pkg_ver) $(bin_org)
	chmod ugo-x $(bin_org)/share/appdata/*
	set > all_environ

## отказываемся от использования dh_install, который в данном примере больше будет мешать, чем помогать принцип сборки пакетов: 
#override_dh_install:
## копируем наши файлики:
#	@echo ' --=== Installing OpenSCAD files... ===--' > $(f_log)
#
#	@echo "Copying application wrappers into /usr/bin..."
#	cp -rv $(bin_org)/bin/. $(pkg_root)/usr/bin/ > $(f_log)
#	@echo "Copying application into /usr/bin..."
#	cp -rv $(bin_org)/lib/. $(pkg_root)/usr/lib/ >> $(f_log)
#	@echo "Copying examples into /usr/bin..."
##	cp -rv $(bin_org)/examples/. \
##                $(pkg_root)/usr/share/openscad/examples/ >> $(f_log)
#	@echo "Copying support files into /usr/bin..."
#    # .appdata.xml - to /usr/share/appdata
#    # .desktop     - to /usr/share/applications
#    # .xml         - to /usr/share/mime/packages
#    # .png         - to /usr/share/pixmaps
#	cp -rv $(bin_org)/share/appdata/openscad.appdata.xml \
#                $(pkg_root)/usr/share/appdata/ >> $(f_log)
#	cp -rv $(bin_org)/share/appdata/openscad.desktop \
#                $(pkg_root)/usr/share/applications/ >> $(f_log)
#	cp -rv $(bin_org)/share/appdata/openscad.png \
#                 $(pkg_root)/usr/share/pixmaps/ >> $(f_log)
#
#
#	@echo "Copying libraries..."
#	#@cp -rv $(bin_org)/libraries/. \
##                oscad-libraries/usr/share/openscad/libraries/ >> $(f_log)
#

override_dh_makeshlibs:
# skipped

override_dh_shlibdeps:
# skipped

